version: '3.9'

services:
    db:
        image: postgres:15-alpine
        container_name: academic_system_container
        environment:
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_DB=${DB_NAME}
        ports:
            - "${DB_PORT}:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        restart: always
    
volumes:
    postgres_data: