name: Build and Test (CI)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x
      
    - name: Restore dependencies
      run: dotnet restore AcademicSystem.sln

    - name: Build
      run: dotnet build AcademicSystem.sln --no-restore --configuration Release

    - name: Test  
      env:
        ConnectionStrings__DefaultConnection: "InMemory"
      run: dotnet test AcademicSystem.sln --no-build --verbosity normal --configuration Release

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
    - uses: actions/checkout@v3

    - name: Docker Login
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_LOGIN_SERVER }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        docker build . -t ${{ secrets.ACR_LOGIN_SERVER }}/academicsystem:latest
        docker push ${{ secrets.ACR_LOGIN_SERVER }}/academicsystem:latest

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'academicsys-api-luan'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        images: '${{ secrets.ACR_LOGIN_SERVER }}/academicsystem:latest'